<div class="bg-gray-400">
  <nav>
    <ul class="flex justify-around">
      <li>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          <a
            routerLink="/trending"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Trending Giphy</a
          >
        </button>
      </li>
      <li>
        <button
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
          <a
            routerLink="/search"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Search Giphy</a
          >
        </button>
      </li>
    </ul>
  </nav>

  <div class="container mx-auto">
    <router-outlet></router-outlet>
  </div>
</div>
